[submodule "src/bno055"]
	path = src/bno055
	url = https://github.com/flynneva/bno055.git
[submodule "src/ldlidar_stl_ros2"]
	path = src/ldlidar_stl_ros2
	url = https://github.com/HealthDataInsight/ldlidar_stl_ros2
	branch = master
[submodule "src/imu_tf"]
	path = src/imu_tf
	url = https://github.com/HealthDataInsight/imu_tools_ros2
[submodule "src/ros-foxglove-bridge"]
	path = src/ros-foxglove-bridge
	url = https://github.com/foxglove/ros-foxglove-bridge.git
[submodule "src/nmea_navsat_driver"]
	path = src/nmea_navsat_driver
	url = https://github.com/ros-drivers/nmea_navsat_driver.git
	branch = ros2
[submodule "src/nmea_msgs"]
	path = src/nmea_msgs
	url = https://github.com/ros-drivers/nmea_msgs.git
	branch = ros2
[submodule "src/tf_transformations"]
	path = src/tf_transformations
	url = https://github.com/DLu/tf_transformations.git
