[submodule "src/bno055"]
	path = src/bno055
	url = https://github.com/flynneva/bno055.git
[submodule "src/ldlidar_stl_ros2"]
	path = src/ldlidar_stl_ros2
	url = https://github.com/HealthDataInsight/ldlidar_stl_ros2
	branch = master
[submodule "src/imu_tf"]
	path = src/imu_tf
	url = https://github.com/HealthDataInsight/imu_tools_ros2
